@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --color-primary: #991B1B;
  --color-primary-dark: #7F1D1D;
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
